* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2rem;
  background: #fff;
}

form { 
  background: #fff;
  max-width: 30rem;
  margin: 1rem auto;
}

.page-wrap {
  position: relative;
  height: 100%;
}

.container {
  max-width: 54rem;
  margin: auto;
}

p {
  margin: 0;
}

.breadcrumbs {
  padding: 1rem;
  text-align: center;
  color: #767676;
}

.current-page {
  color: #272727;
  font-weight: bold;
  text-transform: uppercase;
}

.row {
  font-size: 0;
  max-width: 28rem;
  margin: auto;
}

input {
  padding: 0.5rem;
}

.wrap {
  position: relative;
  padding: 1rem;
  display: inline-block;
  font-size: 1.1rem;
}

.name-wrap,
.name-wrap input {
  width: 100%;
  max-width: 21.75rem;
}

.name-wrap {
  margin-top: 1rem;
}

label {
  display: block;
}

input,
select {
  display: block;
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding: 0.8rem 2rem 0.8rem 0.5rem;
}

label {
  margin-bottom: 0.5em;
  cursor: pointer;
}

input,
select {
  background: transparent;
  border: 0;
  border: 3px solid #00e676;
}

option {
  padding: 0.125rem;
  border-top: 1px dotted rgba(60, 60, 60, 0.7);
}
input:focus,
select:focus {
  border-color: #00e676;
  background: #00e676;
}

.cvc-wrap {
  position: relative;
}

.helper-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background: #333;
  font-size: 1rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  transform: scale(0.8); 
  cursor: help;
}

.cvc-info {
  position: absolute;
  top: -4rem;
  right: -8.5rem;
  z-index: 2;
  max-width: 13rem;
  padding: 0.5rem 1rem;
  background: #00e676;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  transform-origin: left;
}

.cvc-info::before {
  pointer-events: none;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 2rem;
  bottom: -0.9rem;
  border-style: solid;
  border-color: #00e675 transparent transparent;
  border-width: 0.9375rem 0.625rem 0 0.625rem;
}

.helper-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background: #333;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  text-align: center;
  border-radius: 50%;
  transform: scale(0.8); 
  cursor: help;
}

.helper-icon:hover + .cvc-info {
  opacity: 1;
}

.submit-wrap {
  padding: 1rem;
  max-width: 28rem;
  margin: auto;
}

button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  color: #272727;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  background: #00e676;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: transparent;
  color: #272727;
  box-shadow: inset 0 0 0 5px #272727;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

input:invalid,
select:invalid {
  box-shadow: none;
}

.select-wrap {
  position: relative;
  display: inline-block;
}

.select-wrap::after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 1.2rem;
  border-width: 0.7rem 0.4rem 0;
  border-style: solid;
  border-color: #272727 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  pointer-events: none;
}

.year-wrap::after,
.month-wrap::after {
  right: 0.75rem;
}

.exp-row {
  padding-bottom: 1rem;
}

/* INVALID MESSAGE STYLES */


.name-wrap.invalid-input {
  margin-bottom: 1rem;
}

.cvc-wrap.invalid-input {
  margin-bottom: 2rem;
}

.cardnum-wrap.invalid-input {
  margin-bottom: 3rem;
}

.invalid-msg {
  position: absolute;
  max-width: 14rem;
  padding: 0.3em 0.5em;
  visibility: hidden;
  opacity: 0;
  background: #ffcb49;
  font-size: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.invalid-msg::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent transparent #ffcb49;
  border-width: 0 0.6em 0.6em;
  top: -0.5em;
}

.invalid-input .invalid-msg {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: 22.375rem) {

  .cvc-info {
    top: -6rem;
    right: -1.5rem;
    max-width: 10rem;
    padding: 0.5rem 1rem;
  }

  .cvc-info::before {
    left: 5rem;
  }
}
@media screen and (min-width: 38rem) {

  html {
    font-size: 110%;
  }
  .wrap {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  .cardnum-wrap .invalid-msg {
    max-width: 12rem;
  }
  .wrap:not(.name-wrap) {
    width: 50%;
  }
  .exp-row {
    text-align: center;
  }
  .exp-wrap {
    text-align: left;
  }
  .cvc-wrap.invalid-input {
    margin-bottom: 1rem;
  }
  .cvc-info {
    right: -3.5rem;
    top: 0;
  }
  .cvc-info::before { 
    top: 1rem;
    left: -0.9rem;
    border: 0.625rem solid;
    border-left: 0;
    border-color: transparent #00e676;
    border-right-width: 0.9375rem; 
  }
  .btn {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 22rem) and (min-height: 30rem) {
  .container {
    position: absolute;
    width: 100%;
    max-width: 54rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

input:focus::-webkit-input-placeholder { 
  color: rgba(0, 0, 0, 0);
}
input:focus::-moz-placeholder { 
  color: rgba(0, 0, 0, 0);
}
input:focus:-ms-input-placeholder { 
  color: rgba(0, 0, 0, 0);
}
input:focus:-moz-placeholder { 
  color: rgba(0, 0, 0, 0);
}