* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: #37474F;
  font-family: sans-serif;
  color: #f5f5f5;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.wrap {
  position: relative;
  height: 100%;
}

.box {
  max-width: 63rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 0 0 0 0.5rem #F5F5F5;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.form-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #37474F;
  background: url('http://res.cloudinary.com/meowwwls/image/upload/v1462781985/signup-formbg_eb5qxp.jpg') no-repeat center / cover;
}

.form-body { 
  position: relative;
  padding: 1rem;
  background: #F5F5F5;
  color: #37474F;
}

.form-header {
  padding: 2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: 1px;
}

.header-text {
  padding: 2rem 3rem;
  border: 1px solid;
}

.header-p {
  font-family: 'Cutive Mono', 'Courier New';
  font-size: 1rem;
  background: #fefefe;
  color: #2b2b2b;
  padding: 1rem;
}

fieldset {
  max-width: 25rem;
  margin: auto;
  border: 2px solid transparent;
  -webkit-border-image: -webkit-linear-gradient(bottom, #fee7e4, #EF59FF, #701daf);
       -o-border-image: linear-gradient(to top, #fee7e4, #EF59FF, #701daf);
          border-image: linear-gradient(to top, #fee7e4, #EF59FF, #701daf);
  border-image-slice: 1;
}

legend {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  font-style: italic;
  color: #573E94;
}

.input-wrap {
  position: relative;
}

label,
input {
  display: block;
  width: 90%;
  max-width: 18rem;
  margin: auto;
}

input {
  outline: 0;
  height: 2.8125rem;
  padding-left: 0.75rem;
  background: transparent;
  border: 0;
  letter-spacing: 1px;
  font-family: 'Cutive Mono', 'Courier New';
  box-shadow: inset 0 0 0 0.4375rem #573E94;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

label {
  padding: 0 0 0.5rem 0.55rem;
  background: #573E94;
  color: #fefefe;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

input:focus {
  background: #37474F;
  color: #fefefe;
  box-shadow: inset 0 0 0 0.3125rem #9C27B0;
}

input:focus + label {
  background: #9C27B0;
}

.submit-wrap {
  text-align: center;
}

.btn {
  width: 100%;
  max-width: 25rem;
  padding: 1rem 2rem;
  margin: 2rem 0 1rem;
  background: #9C27B0;
  color: #fefefe;
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.btn:focus,
.btn:hover {
  background: #573E94;
}

.btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

/* Invalid input styles */

.invalid-msg {
  position: relative;
  display: none;
  max-width: 18rem;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background: #9C27B0;
  color: #fefefe;
  font-family: 'Cutive Mono', 'Courier New';
}

.invalid-msg::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 0.75rem 1rem;
  border-color: transparent transparent #9C27B0;
  right: 1rem;
  top: -1rem;
}

.invalid-input label {
  background: #37474F;
  color: #eee;
}

.invalid-input input {
  box-shadow: inset 0 0 0 0.4375rem #37474F;
}

.invalid-input input:focus + label {
  background: #37474F;
}

.invalid-input input:focus {
  background: #fefefe;
  color: currentColor;
}

@media screen and (min-width: 49rem) {
  .box {
    margin: 1rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .form-body, 
  .form-header{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .header-text {
    padding: 3rem 3rem;
    border: 0;
  }

  h1 {
    font-size: 5rem;
  }

  .header-p {
    width: 80%;
    margin: 1.5rem auto 0;
  }

}

@media screen and (min-width: 49rem) and (min-height: 54rem) {
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 63rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
